@import '../../styles/mix';

.staking {
  padding-top: 1px;
  margin-top: 1rem;
  @include neumorphism;
}

.message {
  color: white;
  background-color: #1caf01;
  font-weight: bold;
  border-radius: 1rem;
  padding: 1rem;
}

.error {
  color: white;
  background-color: #ed5755;
  font-weight: bold;
  border-radius: 1rem;
  padding: 1rem;
}
