@import '../../styles/mix';
@import '../../styles/colors';

.connect {
  @include neumorphism;

  margin: 2rem;
  padding: 1.8rem;
  font-size: 20px;
  width: 70%;
  max-width: 250px;

  align-self: center;
  text-align: center;
  transition: all 1s;

  div {
    font-size: 12px;
  }

  header {
    svg {
      width: 8rem;
      height: auto;
    }

    h2 {
      margin-top: 0;
    }
  }

  .connectButton {
    border-radius: 83px;
    background: #7d8491;
    box-shadow: 13px 13px 41px #5f646e, -13px -13px 41px #9ba4b4;
    border-style: none;
    padding: 2.6rem 1.8rem;
    color: $ligt-white;
    font-weight: bold;

    margin: 1rem;
    outline: none;

    transition: all 1s;

    &:hover {
      border-radius: 83px;
      background: linear-gradient(145deg, #868d9b, #717783);
      box-shadow: 10px 10px 20px #5f646e, -10px -10px 20px #9ba4b4;
    }

    &:active {
      border-radius: 83px;
      background: linear-gradient(145deg, #868d9b, #717783);
      box-shadow: 5px 5px 10px #5f646e, -5px -5px 10px #9ba4b4;
      color: black;
    }
  }
}
