@import '../../styles/mix';

.Account {
  margin: 1rem 1rem 2rem;
  border: 1px solid black;
  padding: 1rem 2rem;
  background-color: lightslategrey;
  text-align: left;

  display: flex;
  flex-direction: column;

  @include neumorphism;

  header {
    display: flex;
    justify-content: center;
  }

  svg {
    position: relative;
    // left: -18rem;
    top: -1rem;
    width: 4rem;
    height: auto;
  }

  h2 {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
  }

  button {
    align-self: center;
  }
}
