@import 'styles/mix';
@import 'styles/colors';

.App {
  text-align: center;
  background: #7d8491;
  color: #062d4f;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;

    .connectContainer {
      @include neumorphism;

      padding: 1.8rem;
      font-size: 20px;
      width: 70%;
      max-width: 250px;

      h4 {
        color: $ligt-white;
      }

      .connectButton {
        border-radius: 83px;
        background: #7d8491;
        box-shadow: 13px 13px 41px #5f646e, -13px -13px 41px #9ba4b4;
        border-style: none;
        padding: 2.6rem 1.8rem;
        color: $ligt-white;
        font-weight: bold;

        margin: 1rem;
        outline: none;

        transition: all 1s;

        &:hover {
          border-radius: 83px;
          background: linear-gradient(145deg, #868d9b, #717783);
          box-shadow: 10px 10px 20px #5f646e, -10px -10px 20px #9ba4b4;
        }

        &:active {
          border-radius: 83px;
          background: linear-gradient(145deg, #868d9b, #717783);
          box-shadow: 5px 5px 10px #5f646e, -5px -5px 10px #9ba4b4;
          color: black;
        }
      }
    }
  }
}

:global(button) {
  color: #d7dedc;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  background: #7d8491;
  box-shadow: 5px 5px 10px #6a707b, -5px -5px 10px #9098a7;
  border: none;
  outline: none;
  font-weight: bold;
  transition: all 0.5s;

  &:hover {
    border-radius: 10px;
    background: linear-gradient(145deg, #868d9b, #717783);
    box-shadow: 5px 5px 10px #6a707b, -5px -5px 10px #9098a7;
  }
  &:active {
    border-radius: 10px;
    background: linear-gradient(145deg, #717783, #868d9b);
    box-shadow: 5px 5px 10px #6a707b, -5px -5px 10px #9098a7;
  }
  &:disabled {
    color: rgba(200, 200, 200, 0.3);
    border-radius: 10px;
    background: #7d8491;
    box-shadow: inset 7px 7px 10px #79808d, inset -7px -7px 10px #818895;
  }
}

:global(input) {
  outline: none;
}

:global(select),
:global(option) {
  outline: none;
}

.testBtn {
  padding: 1rem;
  background-color: transparent;
  border: none;
}
