@import '../../styles/mix';

.claim {
  margin: 5px;
  padding: 1rem;

  .error {
    color: white;
    background-color: #ed5755;
    font-weight: bold;
    border-radius: 1rem;
    padding: 1rem;
  }
}
