@import '../../styles/mix';

.withdraw {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 1px 0 1rem;

  // @include neumorphism;

  .error {
    color: white;
    background-color: #ed5755;
    border-radius: 1rem;
    padding: 1rem;
  }
}
