@import 'styles/mix';
@import 'styles/colors';

.App {
  text-align: center;
  color: rgb(3, 24, 43);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }
}

:global(h4) {
  margin: 0.5rem 0 0.5rem;
}

:global(button) {
  color: #d7dedc;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  background: #7d8491;
  box-shadow: 5px 5px 10px #6a707b, -5px -5px 10px #9098a7;
  border: none;
  outline: none;
  font-weight: bold;
  transition: all 0.5s;

  &:hover {
    border-radius: 10px;
    background: linear-gradient(145deg, #868d9b, #717783);
    box-shadow: 5px 5px 10px #6a707b, -5px -5px 10px #9098a7;
  }
  &:active {
    border-radius: 10px;
    background: linear-gradient(145deg, #717783, #868d9b);
    box-shadow: 5px 5px 10px #6a707b, -5px -5px 10px #9098a7;
  }
  &:disabled {
    color: rgba(200, 200, 200, 0.3);
    border-radius: 10px;
    background: #7d8491;
    box-shadow: inset 7px 7px 10px #79808d, inset -7px -7px 10px #818895;
  }
}

:global(input) {
  outline: none;
}

:global(select),
:global(option) {
  outline: none;
}

.testBtn {
  padding: 1rem;
  background-color: transparent;
  border: none;
}
